/*------------------------------------------------------*
*-- CSS Drupal--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation Janv. 2010 --*
 *------------------------------------------------*/
/*
HOMEPAGE STYLE==================================
*/
#HPGauche2 ul{
  margin: 0;
  padding: 0;
}
#HPGauche2 ul li{
  margin: 0;
  padding: 0;
  list-style:disc inside none;
}
#HPGauche2 li a{
  color: #95107D;
  text-decoration: none;
}
#HPGauche2 li a:hover{
  text-decoration: underline;
}
/*-------------------------------------------------
*********  COULEURS *****************
gris anthracite #606070
vert #ADC91F
violet #911381
orange #F29400
bleu turquoise #01ABCF
rouge #E3001C
rose fushia #E3001C
jaune #FAEB0C
*/
/*===============================================*/
/**********STYLE POUR LES BLOCS*******************/
/*===============================================*/

/**----HEADER---***/


/**----MIDDLE---***/
a#retour_haut{
    display: none;
    color: #AEC721;
    text-decoration: none;
    text-align: right;
    float:right;
}
a:hover#retour_haut{
    text-decoration: underline;
}
p{
    padding: 2px 0;
    margin: 0;
}

#middle-content-sortie-actions p, ul{
    padding: 5px;
    margin: 0;
}
#middle-content-sortie-actions h3{
    color: #11B0D5;
    padding: 2px;
}
#middle-content-sortie-actions h2{
   text-align: center;
   color: #11B0D5;
}
#middle-content-sortie-actions h4{
    color: #94127F;
    padding: 2px;
    text-indent: 3px;
}
#middle-content-sortie-actions a{
    color: #11B0D5;
    text-decoration: none;
    padding: 2px;
    text-indent: 3px;
}
#middle-content-sortie-actions a:hover{
    color: white;
    background: #11B0D5;
   }
/*TABLES STYLES DIVERS*/
.table_generik{
    border: 0px solid black;
    width: 95%;
}
.table_generik tr{
    border: 0px solid black;
}
.table_generik tr.ligne_1{
    background: transparent;
    color: black;
}
.table_generik tr.ligne_2{
   background: #ADC91F;
   color: white;
}
.table_generik td{
    border: 0px solid black;
   
}
#table_frais{
    border: 0;
    width: 100%;
}
tr.tf_line_1{
    color: white;
    background: #01AAD3;
}
tr.tf_line_2{
    color: #E85231;
    background: white;
}
/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}


/****------formulaire contact/////////*/
#contact-mail-page{
margin: auto;
width: 550px;
padding: 0;
}

/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#d63e2a;
text-decoration:none;
}
##ariane{
    display: block;
    width: auto;
background: white;
}

.breadcrumb a{
color:#4e4d5e;
text-decoration:none;
background: white;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}
#annonce{
    color: #E2017B;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 11px 0 0;
    text-align: center;
    width: 990px;
}
#annonce a{
    color: #93117E;
    text-decoration: none;
    font-weight: bold;
}
#annonce a:hover{
    text-decoration: underline;
}
.image-photo-jeunes{
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}
/**----CONTENT BOTTOM---***/
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #d63e2a;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/*___BASE 2 COL____*/
#middle-content-base2col a{
    color: #F29400;
    text-decoration: none;
}
#middle-content-base2col a:hover{
   text-decoration: underline;
}
/*STYLE PAGE LYCEE*/
.table-formation, #table-acces{
    width: 320px;
    border: 0;
    text-align:right;
}
.table-formation .diplome, #table-acces tr.transport{
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    border-bottom: 1px dotted gray;
    text-align:left;

}
.transport-detail{}
.views-field-diplome a{
     color: gray;
      text-decoration: none;
}
.views-field-diplome a:hover{
   text-decoration: underline;
}
/*********************************
----------------------------------
---- PAGE LYCEE NODE.TPL ---------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
h1.titre_pl{
    font-size: 24px;
    color: #F29400;
    line-height: 1.0em
}
h1.titre_pl a{}
h1.titre_pl a:hover{}
/*######-------- COLONNE G1 --------######*/
#pageLycee_col_G1 h2{}
#pageLycee_col_G1 h3{}
#pageLycee_col_G1 h4{}
#pageLycee_col_G1 p{}
#pageLycee_col_G1 ul{}
#pageLycee_col_G1 img{
     border: 5px solid #fff;
    -moz-box-shadow: #AAAAAA 0px 0px 5px ;
    -webkit-box-shadow: #AAAAAA 0px 0px 5px;
    box-shadow: #AAAAAA 0px 0px 5px;
}

#pageLycee_col_G1 a{}
#pageLycee_col_G1 a:hover{}

#pageLycee_col_G1 h2 a{}
#pageLycee_col_G1 h2 a:hover{}
#pageLycee_col_G1 h3 a{}
#pageLycee_col_G1 h3 a:hover{}
#pageLycee_col_G1 h4 a{}
#pageLycee_col_G1 h4 a:hover{}
/*######-------- COLONNE G2 --------######*/
#pageLycee_col_G2 h2{
    color: #ACC624;
    padding: 5px;
}
#pageLycee_col_G2 h3{
    color: #911381;
    padding: 5px;
}
#pageLycee_col_G2 h4{
    padding: 5px;
    color: #F29803;
}
#pageLycee_col_G2 p{
    padding: 5px;
}
#pageLycee_col_G2 ul{
    padding: 5px;
}
#pageLycee_col_G2 img{

}

#pageLycee_col_G2 a{
    color: #F29400;
    text-decoration: none;
    padding: 2px;
}
#pageLycee_col_G2 a:hover{
    color: white;
    background: #F29400;
}

#pageLycee_col_G2 h2 a{}
#pageLycee_col_G2 h2 a:hover{}
#pageLycee_col_G2 h3 a{}
#pageLycee_col_G2 h3 a:hover{}
#pageLycee_col_G2 h4 a{}
#pageLycee_col_G2 h4 a:hover{}

/*######-------- COLONNE G3 --------######*/
#pageLycee_col_G3 h2{}
#pageLycee_col_G3 h3{}
#pageLycee_col_G3 h4{}
#pageLycee_col_G3 p{}
#pageLycee_col_G3 ul{}
#pageLycee_col_G3 img{

}

#pageLycee_col_G3 a{}
#pageLycee_col_G3 a:hover{}

#pageLycee_col_G3 h2 a{}
#pageLycee_col_G3 h2 a:hover{}
#pageLycee_col_G3 h3 a{}
#pageLycee_col_G3 h3 a:hover{}
#pageLycee_col_G3 h4 a{}
#pageLycee_col_G3 h4 a:hover{}

/* Fichier joint dans page lycée*/
#fichier-joint-plycee{
    display: block;
    margin: 0 auto;
    width: 215px;
    background: transparent url(../images/zebra-gros-clair.gif) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
}
#fichier-joint-plycee h3{
    font-family: arista,Trebuchet MS, sans-serif;
    color: #911381;
    padding: 5px;
    text-align: center;

}
#fichier-joint-plycee a{
    background: white;
    color:#F29400;
    padding: 2px;
}
#fichier-joint-plycee a:hover{
    background: #F29400;
    color: white;

}